[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
eleuther-elk = {editable = true, path = "."}
tqdm = "*"
numpy = "*"
torch = "*"
datasets = "*"
transformers = "*"
sentencepiece = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
