[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eleuther-elk = {editable = true, path = "."}
tqdm = "*"
numpy = "*"
torch = "*"
datasets = "*"
transformers = "*"
sklearn = "*"
scikit-learn = "*"
sentencepiece = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.11"
